  
<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "net.hhsievertsen.soltider"
		versionCode="3"
		version   = "0.3">
		<name>Soltider</name>
		<preference name="Fullscreen" value="false" />
		<preference name="orientation" value="portrait" />
		<icon src="icon.png" />
		<description>
		Soltider
		</description>
		<author href="" email="hhsievertsen@gmail.com">
	Hans Henrik Sievertsen
		</author>
		<preference name="permissions" value="none"/>
		<preference name="android-minSdkVersion" value="28" />
	</widget>