<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "net.hhsievertsen.soltider"
		versionCode="7"
		version   = "0.61">
		<name>Soltider</name>
		<preference name="Fullscreen" value="true" />
		<preference name="orientation" value="portrait" />
		<icon src="icon.png" />
		<description>
		Soltider
		</description>
		<author href="http://www.hhsievertsen.net" email="hhsievertsen@gmail.com">
	Hans Henrik Sievertsen
		</author>
		<preference name="permissions" value="none"/>
		<uses-sdk android:targetSdkVersion="27" android:minSdkVersion="7" />
	</widget>