<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "net.hhsievertsen.soltider"
		versionCode="7"
		version   = "0.71">
		<name>Soltider</name>
			<preference name="Fullscreen" value="true" />
		<preference name="orientation" value="portrait" />
		<preference name="DisallowOverscroll" value="true" />
		<preference name="KeepRunning" value="true" />
		<preference delete="true" name="android-manifest/uses-permission/[@android:name='android.permission.INTERNET']" />
        <preference delete="true" name="android-manifest/uses-permission/[@android:name='android.permission.ACCESS_NETWORK_STATE']" />
        <preference delete="true" name="android-manifest/uses-permission/[@android:name='android.permission.ACCESS_WIFI_STATE']" />
        <preference delete="true" name="android-manifest/uses-permission/[@android:name='android.permission.READ_EXTERNAL_STORAGE']" />
        <preference delete="true" name="android-manifest/uses-permission/[@android:name='android.permission.WRITE_EXTERNAL_STORAGE']" />
		<icon src="icon.png" />
		<description>
		Soltider
		</description>
		<author href="" email="hhsievertsen@gmail.com">
	Hans Henrik Sievertsen
		</author>
		<preference name="permissions" value="none"/>
		<preference name="android-targetSdkVersion" value="28" />
		<preference name="android-minSdkVersion" value="4.4" />
	</widget>
		

