@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: url('../font/gotu.woff') format('woff');
}

* {
    box-sizing: border-box
}

html,
body {
    width: 100wh;
    font-family: "system";
    text-align: center;
    margin: auto;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 30px;
}

#title {
    height: 7%;
}

#subtitle {
    height: 6.5%;
}

#textbox {
    height: 35%;
}

#chartbox {
    height: 35%;
}

.credit {
    font-size: 9px;
    height: 5%;
}

.glider-contain {
    width: 55%;
    max-width: 95%;
    margin: 0 auto;
    height: 7%;
    overflow: hidden;
}

.level1 {
    display: inline-block;
    width: 95%;
    font-size: 0.94em;
    text-align: center;
    overflow: hidden;
}

.level2 {
    text-align: left;
}

#subtitle {
    max-width: 85%;
}

#myChart {
    max-height: 35vh;
}